.before-dot:before {
    content: ' * '
}

.hero-container {
    height:400px;
    width:600px;
    border-bottom:2px solid #FFAF2B;
    overflow:hidden;
    position: relative;
    background-size: 100% 100%;
    background-image: url('./assholebk.png');
} 

.day {
    color:#FFAF2B;
    font-weight: bold;
    font-size: 48px;
}

.day-name {
    font-weight: bold;
    font-size: 32px;
}

.month-name{
    font-weight: bold;
    font-size: 32px;
}
.year {
    margin-left:1em;
    font-weight: lighter;
    font-size: 12px;
    font-style: italic;
}

.text-container {
    width:600px;
    height:164px
}

.caption-container {
    margin-left:28px;
    padding-top:12px;
    padding-left:8px;
    padding-right:8px;
    width:572px;
    height:160px;
    border-left:2px solid #FFAF2B;
    border-bottom: 2px solid #FFAF2B;
    position: relative;
}

.meta-text {
    text-align: right;
    font-size: 10px;
    margin-left:28px;
    padding-right: 8px;
    border-left: 2px solid #FFAF2B;
}

.caption-text {
    height:102px;
    font-size: 12px;
    overflow: hidden;
}

.hero-container > img {
    position: absolute;
}

.preview-container {
    border: 1px dashed green;
    height:602px;
    width:602px;
}
.logo {
    background-image: url('./logo_transparent.png');
    background-position-x:0;
    background-position-y:0;
    background-repeat:no-repeat;
    background-size: 50px 50px;
    display:inline-block;
    height:50px;
    width:50px;
    float:right;
    margin-right:2em;

}
.date-container {
    position: absolute;
    bottom: -8px;
    width:100%;
}
